#chat-container{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

#chat-box{
    display: grid;
    place-items: center;
    height: 30rem;
    width: 30rem;
    border: 1px solid gray;
}

#chat-form{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}