extends ../layout.pug

block content
    .container.h-screen.font-thin.animate-fade-in-long
        h1.text-3xl Hello, our names are <em>Ben and Nancy</em> <br/>We're both students at Santa Monica College, CA. <br/>This is our final project for our class, CS 81-Introduction to Javascript. <br/>Our projects applies topics covered in class to create this page. <br/>Some of the topics covered includes, HTML5, NodeJS, jQuery and CSS. <br/>Hope you enjoy browsing through our webpage.
        h3.text-xl Disclaimer
        p.text-lg This page is for educational use only. Any other use is strictly prohibited.