extends ../layout.pug
include ../components/profileCard.pug

block content
    .flex.flex-col.items-center.justify-center.w-full.animate-fade-in-long(class="lg:h-screen")
        h1#hello.text-4xl.font-thin.py-20 #{greeting}, #{username}
            h3.text-xl Check our CV
        .cards.py-12.flex.flex-col.min-w-full.justify-center(class="md:flex-row")
            each val in data
                +profileCard(val.id, val.name, val.projects, val.bio, val.college, val.img_url)