footer#footer(class="p-4 h-48 lg:h-36 bg-gray-800")
    .footer__container
        .social-media
            .social-media__container
                a(href="#" class="text-2xl lg:text-3xl text-white")
                    <i class="fab fa-facebook-f"></i>
                a(href="#" class="text-2xl lg:text-3xl text-white")
                    <i class="fab fa-twitter"></i>
                a(href="#" class="text-2xl lg:text-3xl text-white")
                    <i class="fab fa-github-alt"></i>
                a(href="#" class="text-2xl lg:text-3xl text-white")
                    <i class="fab fa-google"></i>