header#header.fixed.w-full.bg-white.bg-opacity-95.shadow-lg
    nav#nav
        ul#menu
            li
                a(href="/") home
            li
                a(href="/cv") cv
            li
                a(href="/about") about
